<div class="col-lg-3 col-sm-4 col-xs-12 dish-card">
  <img class="img-responsive" [src]="dish.image" alt="" width="140" height="140">
  <p class="dish-title">{{dish.name}}</p>
  <p class="dish-description">{{dish.description | shorten: 60: '...': true}}</p>
  <p class="fade-buttons">
    <button *ngIf="showAddButton" type="button" class="btn btn-primary add-button"
            (click)="dinnerService.addDish(dish)">Add
    </button>
    <button type="button" class="btn btn-default" (click)="showModal()">Recipe</button>
  </p>
</div>
