<div id="initial-page" class="container-fluid">
  <div class="panel panel-default bottomleft">
    <div class="panel-heading">
      <h3 class="panel-title">A Home Dinner Service</h3>
    </div>
    <div class="panel-body">
      <p>The main purpose of this website is to make you hungry...</p>
      <p>...and of course to show off some Angular!</p>
      <div routerLinkActive="active">
        <a class="btn btn-default btn-sm" routerLink="/blbl" role="button">Get a 404</a>
        <a class="btn btn-primary btn-sm pull-right" routerLink="/browse" role="button">Create new dinner</a>
      </div>
    </div>
  </div>
</div>
