<div class="well">
  <h4>My Dinner</h4>
  <app-guest-counter (counterChange)="dinnerService.numberOfGuests = $event"
                     [counter]="dinnerService.numberOfGuests"></app-guest-counter>
  <hr/>
</div>
<div class="well">
  <h4>My Menu</h4>
  <hr/>
  <dish-list-item *ngFor="let s of dinnerService.selected" [dish]="s"></dish-list-item>
  <h3>
    Total:<span class="label label-default pull-right totalPrice"></span>
  </h3>
</div>
<a [class.disabled]="!(dinnerService.numberOfGuests>0 && dinnerService.selected.length>0)"
   class="btn btn-default btn-sm"
   routerLinkActive="active"
   routerLink="/overview"
   role="button">Confirm Dinner</a>
